<!DOCTYPE html>

<html>
<head>
	<title>MadLibs</title>
	<link rel="stylesheet" href="style.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<!--script src="app.js"></script-->
</head>
	
<body ng-app=''>

	<div class="container">
	
		<div class="top">
			<img src="images/logo.png">
			<h1>Automate This!</h1>
		</div>

		<h3>Provide the following words:</h3>
		<ul>
			<li>
				<input type="text" ng-model="word1" ng-init="word1='{{male_name}}'">
			</li>
			<li>
				<input type="text" ng-model="word2" ng-init="word2='{{job_title}}'">
			</li>
			<li>
				<input type="text" ng-model="word3" ng-init="word3='{{tedious_task}}'">
			</li>
			<li>
				<input type="text" ng-model="word4" ng-init="word4='{{dirty_task}}'">
			</li>
			<li>
				<input type="text" ng-model="word5" ng-init="word5='{{celebrity}}'">
			</li>
			<li>
				<input type="text" ng-model="word6" ng-init="word6='{{useless_skill}}'">
			</li>
			<li>
				<input type="text" ng-model="word7" ng-init="word7='{{adjective}}'">
			</li>
			<li>
				<input type="text" ng-model="word8" ng-init="word8='{{obnoxious_celebrity}}'">
			</li>
			<li>
				<input type="text" ng-model="word9" ng-init="word9='{{huge_number}}'">
			</li>
			
			
		</ul>

		<div class="madBody">
			<p><b>{{word1}}</b> was a <b>{{word2}}</b> who loved technology. Although he loved parts of his job, he absolutely hated <b>{{word3}}</b> and <b>{{word4}}</b>. So, <b>{{word1}}</b> met with his life mentor <b>{{word5}}</b> who told him to learn how to <b>{{word6}}</b> with Thinkful. Thinkful didn't offer a course on <b>{{word6}}</b>, so he studied programming instead.<br>
			<br>
			What a great decision! With his new skills <b>{{word1}}</b> built a(n) <b>{{word7}}</b> robot named <b>{{word8}}</b> that not only loved <b>{{word4}}</b> bud did it <b>{{word9}}</b> times faster.
			</p>
		</div>

	</div>

</body>
</html>