body {
	background-image: url("images/words.jpg");
	font-family: helvetica;
}

.container {
	margin: 40px auto;
	width: 800px;
	border-radius: 5px;
	padding: 20px;
	background: white;
}

.top img {
	width: 60%;
	margin: 20px auto;
	display: block;
}

.top h1 {
	text-align: center;
}

.entries {
	list-style: none;
}

.entries li {
	display: inline-block;
}

input {
	font-size: 1em;
	padding: 10px;
	margin: 0 20px 20px 0;
}